<nav class="bar bar-tab">
  <a class="tab-item external @@current" href="#">
    <span class="icon icon-home"></span>
    <span class="tab-label">主页</span>
  </a>
    <a class="tab-item external" href="#">
    <span class="icon icon-settings"></span>
    <span class="tab-label">分类</span>
  </a>
  <a class="tab-item external" href="#">
    <span class="icon icon-cart"></span>
    <span class="tab-label">购物车</span>
  </a>
  <a class="tab-item external" href="#">
    <span class="icon icon-me"></span>
    <span class="tab-label">我的</span>
  </a>
</nav>