<!DOCTYPE html>
<html lang="en">

<head>
  <title>商品列表</title>
  @@include('./common/meta.html') @@include('./common/style.html')
  <link rel="stylesheet" type="text/css" href="css/goodslist.css">
</head>

<body>
  <div class="page-group">
    <div class="page page-current">
      <!-- 搜索条 -->
      @@include('./common/searchbar.html')
      <!-- 菜单栏 -->
      @@include('./common/menubar.html', { "index": "active" })
      <div class="buttons-tab">
        <a href="#tab1" class="tab-link active button">综合</a>
        <a href="#tab2" class="tab-link button">销量</a>
        <a href="#tab3" class="tab-link button">促销</a>
      </div>
      <div class="content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" id="content" data-ptr-distance="100">
        <!-- 默认的下拉刷新层 -->
        <div class="pull-to-refresh-layer">
          <div class="preloader"></div>
          <div class="pull-to-refresh-arrow"></div>
        </div>
        <!-- 列表内容 -->
        <div class="list-block media-list">
          <ul id="listInfo"></ul>
        </div>
        <!-- 加载提示符 -->
        <div class="infinite-scroll-preloader">
          <div class="preloader"></div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/template" id="listTpl">
    {{each $data.goods}}
      <li>
        <a href="/goodsdetail.html?goods_id={{$value.goods_id}}" class="item-link item-content close-popup">
          <div class="item-media"><img src="{{$value.goods_big_logo}}" style="width: 4rem;"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-text">{{$value.goods_name}}</div>
            </div>
            <div class="item-text" style="color:red">¥{{$value.goods_price}}</div>
          </div>
        </a>
      </li>
    {{/each}}
  </script>
  @@include('./common/script.html')
  <script type="text/javascript" src="js/goodslist.js"></script>
</body>

</html>
