<!DOCTYPE html>
<html lang="en">

<head>
  <title>主页</title>
  @@include('./common/meta.html') @@include('./common/style.html')
</head>

<body>
  <div class="page-group">
    <div class="page page-current">
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" href="javascript:history.go(-1)" data-transition="slide-out">
          <span class="icon icon-left"></span>
        </a>
        <h1 class="title">注册</h1>
      </header>
      <div class="content" id="content">
        <div class="list-block">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-name"></i></div>
                <div class="item-inner">
                  <div class="item-title label">手机号</div>
                  <div class="item-input">
                    <input type="text" placeholder="11位手机号" id="mobile" maxlength="11">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-name"></i></div>
                <div class="item-inner">
                  <div class="item-title label">验证码</div>
                  <div class="item-input">
                    <input type="text" maxlength="4" placeholder="4位验证码" id="code">
                  </div>
                  <div class="item-after">
                    <!-- <button class="button button-fill" id="codeButton" >点击重新发送</button> -->
                    <a class="button button-fill" href="javascript:;" id="codeButton">获取验证码</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-email"></i></div>
                <div class="item-inner">
                  <div class="item-title label">邮箱</div>
                  <div class="item-input">
                    <input type="email" placeholder="电子邮箱不能为空" id="email">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-password"></i></div>
                <div class="item-inner">
                  <div class="item-title label">密码</div>
                  <div class="item-input">
                    <input type="password" placeholder="密码不能为空" class="" id="pwd">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-password"></i></div>
                <div class="item-inner">
                  <div class="item-title label">确认密码</div>
                  <div class="item-input">
                    <input type="password" placeholder="确认密码必须与密码保持一致" class="" id="confirmPwd">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-gender"></i></div>
                <div class="item-inner">
                  <div class="item-title label">性别</div>
                  <div class="item-input">
                    <select name="gender" id="gender">
                      <option value="男" selected="selected">男</option>
                      <option value="女">女</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="content-block">
          <div class="row">
            <div class="col-50"><a href="javascript:history.go(-1)" class="button button-big">返回</a></div>
            <div class="col-50"><a href="javascript:;" id="registerBtn" class="button button-big button-fill">注册</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @@include('./common/script.html')
  <script type="text/javascript" src="js/register.js"></script>
</body>

</html>
